@import "../styles/vars";
@import "../node_modules/bulma/sass/helpers/color";
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/helpers/typography";
@import "../node_modules/bulma/sass/elements/button";
@import "../node_modules/bulma/sass/components/navbar";
@import "../node_modules/bulma/sass/components/dropdown";
@import "../node_modules/bulma/sass/components/dropdown";

@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");

.my-navbar {
   @extend .navbar;
   @extend .has-background-primary-light;
}

.my-navbar-brand {
   @extend .navbar-brand;
}

.my-navbar-logo-holder {
   @extend .navbar-item;

   display: flex;
   flex-direction: column;
   justify-content: center;

   text-align: center;
}

.my-navbar-logo {
   @extend .button;
   @extend .is-size-3;
   @extend .is-primary;
   @extend .is-light;
   @extend .is-uppercase;
   @extend .has-text-centered;

   width: 90%;
   height: 40px;
   border-radius: 10px;

   font-family: "Annie Use Your Telescope", cursive;
   font-weight: bold;
   font-style: italic;
}

.my-navbar-item {
   @extend .navbar-item;
}

.my-navbar-burger {
   @extend .navbar-burger;
   &-active {
      @extend .my-navbar-burger;
      @extend .is-active;
   }
}

.my-navbar-menu {
   @extend .navbar-menu;
   &-active {
      @extend .my-navbar-menu;
      @extend .is-active;
   }
}

.my-navbar-start {
   @extend .navbar-start;
}

.my-navbar-end {
   @extend .navbar-end;
}

.my-navbar-link {
   @extend .navbar-link;
}

.my-navbar-dropdown {
   @extend .navbar-dropdown;
}

.my-navbar-item-dropdown {
   @extend .navbar-item;
   @extend .has-dropdown;
   @extend .is-hoverable;
}

.my-navbar-divider {
   @extend .navbar-divider;
}
