<footer class="footer">
    <div class="container">

        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | prepend: site.baseurl }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
          <link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
          <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a>, and customized by <a href="https://alecandido.github.io">A. Candido</a> with <i class="fas fa-heart has-text-primary"></i> and <i class="fas fa-clock has-text-primary"></i>
          </p>
        </div>
    </div>
</footer>
