@import "../node_modules/bulma/sass/utilities/functions.sass";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/mixins.sass";

html,
body {
  height: 100%;
  margin: 0;
}

#home {
  height: 100%;
  margin: 0;
}

.home-col {
  //height: 100%;
  margin: 0;
  //vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-col > * {
  flex-grow: 0;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: unset;
  max-height: unset;
  z-index: -1;
}

#presentation {
  background-color: white;
  box-shadow: 0 6px 6px #888;

  margin: 2rem;
  border: 1px solid black;
  border-radius: 12px;
  padding: 1.5rem;
  padding-left: 3rem;

  @include mobile {
    padding: 1.5rem;
  }
  @include widescreen {
    margin: calc(50% - 20rem);
  }
}

#titles {
  padding-left: 1rem;
  padding-bottom: 1rem;

  @include mobile {
    padding-left: 0;
  }
}

#launcher-column {
  //background-color: hsla(208, 39%, 90%, 0.95);
  background-color: hsla(208, 10%, 80%, 0.2);
  backdrop-filter: blur(8px) brightness(130%);
}

.launcher {
  @extend .button;
  @extend .has-text-left;
  //@include .is-outlined;

  //box-shadow: 0 3px 3px #888;
  //border-color: transparent;
  color: findColorInvert(attr(background-color));

  min-height: 4rem;

  margin: 1rem;
  border: 2px ridge hsla(0, 1%, 39%, 0.4);
  border-radius: 10px;
  padding: 0.5rem;
  padding-left: 2.5rem;

  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.launcher span {
  @extend .has-text-weight-bold;
}

#cv {
  background-color: hsla(348, 95%, 66%, 1);
}

#projects {
  background-color: hsla(141, 53%, 50%, 1);
}

#logbook {
  background-color: hsla(48, 87%, 66%, 1);
}

#work {
  background-color: hsla(204, 71%, 50%, 1);
}

#about {
  background-color: hsla(16, 90%, 66%, 1);
}
