body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #363636;
}

body {
  margin: 0;

  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
}
